*{
    padding:0;
    margin:0;
}

body{
    background-color:#ffff;
}

.header{
    margin: 4em auto;
    width:16%;
}
.topcontainer{
    display:flex;
    justify-content: space-between;
}

.middle{
    margin: 1em 8em 0 8em;
    font-size:1rem;
}

img{
    width:100%;
}

h1{
    text-align:center;
    font-size:2rem;
    margin-bottom: 0.49em;
}

.ease{
    text-align:center;
}

.tealgreenbtn{
    background-color: teal;
    color:white;
    border:none;
    padding:0.58rem 1.5rem 0.58rem 1.5rem ;
    border-radius:30px;
    margin:2em 0.45em 0 10em;
}

.purplebtn{
    border:none;
    background-color: purple;
    color:white;
    padding:0.58rem 1.3rem 0.58rem 1.3rem ;
    border-radius: 30px;  
}

.drop{
  border-left: 1px solid rgb(193, 196, 193);
  height:4rem;
  margin:3em 0 0 42em;
}
  

.round{
   background: #ffff;
   border: 1px solid rgb(193, 196, 193);
   border-radius: 1em;
   color: rgb(193, 196, 193);
   line-height: 1.6em;
   text-align: center;
   width: 2%;
   margin:0 0 5em 41.2em;
}  
  
  .round1{
     background: #ffff;
     border: 1px solid rgb(193, 196, 193);
     border-radius: 1em;
     color: rgb(193, 196, 193);
     line-height: 1.6rem;
     text-align: center;
     width: 2%;
     margin:0 0 -1em 41.2em;
     position:relative;

  }

.gallery{
    display:flex;
    justify-content: space-between;
    max-width:1800px;
}

.pics1, .pics2, .pics3, .pics4{
    margin-right: 4em;
    margin-bottom: 2em;
   }

.radius{
    border-radius: 0.5em;
}

.pics1{
    padding-left: 4em;
}

h4, h3,.store{
    text-align: center;
    margin-bottom: 1em;
}

h4{
    color:teal;
    text-transform: uppercase;
    margin-top: 4em;
}

.store{
  color:rgb(193, 196, 193);
  font-size:1rem;
  line-height: 1.5em;
  margin-bottom: 5em;
}

.drop1{
    border-left: 1px solid rgb(193, 196, 193);
    height:3rem;
    margin:3em 0 0 42em;
  }

.footer{
    background-image: linear-gradient(rgba(69, 174, 192, 0.973), rgba(8, 39, 141, 0.74)),url(images/desktop/image-footer.jpg);
     background-size: cover;
     min-height: 20rem;     
   }


   .btmcontainer{
       display: flex;
       justify-content: space-around;
   }
   .connect,.input{
       margin-top: 9em;
       color:white;
   }

   h2{
     max-width: 10em;
     font-size:2rem;
     color:white;
     margin-top:8rem
   }

   .connect{
       max-width: 17em;
       font-size:1rem;
   }
